# H1 DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

# Objectives
- List popular languages for data science
- List commonly user libraries in data science
- Calculate arithmatic expressions using Python

In [ ]:
Some of the most popular languages that data scientist use are;
1. Python.
2. R
3. SQL
4. Java
5. Julia
6. Scala

In [ ]:
Some of the most commonly used libraries used by data scientists are;
1. NumPy
2. Scikit
3. Matplotlib
4. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook/Jupyter Lab |
| RStudio |
| Google Colab |

# H1 Arythmatic expressions can be caluclated in Python
## H2
### H3 Below are a few examples of evaluating arythmatic expressions in python

# This is a simple arithmatic expression to multiply and then add integers

In [5]:
(3*4)+5

17

#This will convert 200 minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335

## H2 Author
Jamie Newton